<div class="popup popup--volunteer">
  <div class="popup__container">
    <div class="popup__top">
      <span class="popup__name">Стать волонтером</span>

      <button class="popup__close" type="button">
        <svg>
          <use xlink:href="images/sprite.svg#close"></use>
        </svg>
      </button>
    </div>
    <div class="popup__body">
      <form class="popup__form form-consultation">
        <div class="form-consultation__group">
          <label class="form-consultation__label" for="phone">Телефон</label>
          <input
            class="form-consultation__input"
            type="tel"
            id="phone"
            placeholder="+7 (___) ___ - __ - __"
          />
        </div>

        <button class="form-consultation__btn btn btn--dark" type="button">
          Стать волонтером
        </button>
      </form>
    </div>
  </div>
</div>
