.choices {
  font-size: 17px;
  line-height: 1.1;
  height: 53px;
  font-weight: 400;
  width: 100%;
  color: #525252;
  margin-bottom: 0 !important;
  padding-right: 20px;
  border: 1px solid #d7d7d7;
  border-radius: 5px;

  &__placeholder {
    opacity: 1;
  }

  &__inner {
    padding: 12px;
    padding-left: 20px;
    width: 100%;
    height: 100%;
    background-color: inherit !important;
    display: flex;
    align-items: center;
    position: relative;
    border: none;
  }

  &::after {
    border: none !important;
    width: 25px !important;
    height: 25px !important;
    margin-top: 0 !important;

    mask-image: url("../images/chevron.svg");
    mask-repeat: no-repeat;
    mask-position: center;
    mask-size: 100%;
    background-color: #525252;

    right: 10px !important;
    top: 15px !important;

    transition: 150ms ease-in;
  }

  &.is-open {
    &::after {
      margin-top: 0 !important;
      transform: rotate(180deg);
    }
  }

  &__list {
    padding: 0;
    background-color: inherit;
    max-height: 200px;

    .choices__item {
      background-color: inherit;
    }

    &--dropdown {
      z-index: 100;
      z-index: 5;

      .choices__list {
        max-height: 200px !important;
        overflow-y: auto;
      }

      .choices__item {
        position: relative;
        padding: 12px !important;
        padding-right: 0 !important;

        &:hover {
          background-color: var(--color-bg);
          color: var(--color-dark);
        }

        .choices__item--selectable {
          background-color: #ededed;
        }

        &.is-selected,
        &.is-highlighted {
          &:focus {
            box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05);
          }

          &:hover {
            background-color: var(--color-bg);
          }
        }
      }
    }
  }
}
