<section class="banner">
  <div class="container">
    <div
      class="banner__wrapper"
      style="background-image: url('images/banner.jpg')"
    >
      <div class="banner__offer">
        <h2 class="banner__title">Нам нужна помощь</h2>

        <div class="banner__text">
          <p>
            Если вы неравнодушны и у вас есть желание помогать тем, кто
            нуждается в помощи, то ждем вас в нашей команде волонтеров.
          </p>
        </div>

        <button class="banner__btn btn btn-volunteer" type="button">
          СТАТЬ ВОЛОНТЕРОМ
        </button>
      </div>
    </div>
  </div>
</section>
