<section class="collected">
  <div class="collected__wrapper">
    <div class="container">
      <div class="collected__inner">
        <div class="collected__left">
          <h2 class="collected__title">
            Онлайн - отчеты <br />
            помощи
          </h2>
          <div class="collected__text">
            <p>
              В данном блоке Вы можете видеть в режиме реального времени,
              сколько требуется и сколько уже собрано для помощи ребенка.
            </p>
          </div>
        </div>

        <div class="collected__content">
          <div class="swiper-pagination"></div>
          <div class="collected__slider swiper">
            <ul class="collected__list swiper-wrapper">
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <div class="collected-card__img">
                    <img src="images/collected.jpg" alt="collected" />
                  </div>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>

                    <div class="sum-block">
                      <div class="sum-block__top">
                        <span>60%</span> от нужной суммы
                      </div>

                      <div class="sum-block__line">
                        <span class="sum-block__line-fill"></span>
                      </div>

                      <div class="sum-block__bottom">
                        <div class="sum-block__left">
                          Уже собрали <span>3 000 000 ₽</span>
                        </div>
                        <div class="sum-block__right">
                          Цель <span>5 000 000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <div class="collected-card__img">
                    <img src="images/collected.jpg" alt="collected" />
                  </div>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>

                    <div class="sum-block">
                      <div class="sum-block__top">
                        <span>60%</span> от нужной суммы
                      </div>

                      <div class="sum-block__line">
                        <span class="sum-block__line-fill"></span>
                      </div>

                      <div class="sum-block__bottom">
                        <div class="sum-block__left">
                          Уже собрали <span>3 000 000 ₽</span>
                        </div>
                        <div class="sum-block__right">
                          Цель <span>5 000 000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </li>
              <li class="collected__item swiper-slide">
                <article class="collected-card">
                  <div class="collected-card__img">
                    <img src="images/collected.jpg" alt="collected" />
                  </div>

                  <div class="collected-card__info">
                    <h3 class="collected-card__title">
                      «Мечтаю о простой вещи: жить, как все нормальные люди»
                    </h3>
                    <p class="collected-card__text">
                      Викин голос звучит бодро и уверенно, она выбирает слова и
                      не говорит ничего лишнего. Это не скрытность, не излишняя
                      самоуверенность или нежелание общаться, так звучит
                      подросток, который вынужден был стать взрослым слишком
                      рано.
                    </p>

                    <div class="sum-block">
                      <div class="sum-block__top">
                        <span>60%</span> от нужной суммы
                      </div>

                      <div class="sum-block__line">
                        <span class="sum-block__line-fill"></span>
                      </div>

                      <div class="sum-block__bottom">
                        <div class="sum-block__left">
                          Уже собрали <span>3 000 000 ₽</span>
                        </div>
                        <div class="sum-block__right">
                          Цель <span>5 000 000 ₽</span>
                        </div>
                      </div>
                    </div>
                  </div>
                </article>
              </li>
            </ul>

            <button
              class="swiper-button-prev"
              type="button"
              aria-label="Предыдущий"
            ></button>
            <button
              class="swiper-button-next"
              type="button"
              aria-label="Следующий"
            ></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
