<section class="descr-news">
  <div class="container">
    <h1 class="descr-news__title">
      Госдума рассмотрит законопроект о выплате пособия к 1 сентября
    </h1>

    <div class="descr-news__img">
      <img src="images/descr-news.jpg" alt="descr-news" />
    </div>

    <div class="descr-news__text">
      <p>
        Председатель Партии «СПРАВЕДЛИВАЯ РОССИЯ – ЗА ПРАВДУ», руководитель
        партийной фракции в Госдуме Сергей Миронов предлагает ввести ежегодную
        выплату для семей, чьи дети обучаются в школах, а также на очной форме
        средних специальных и высших учебных заведений. Законопроект с таким
        предложением внесён на рассмотрение Государственной Думы, сообщает сайт
        партии.
      </p>
      <p>
        «Для всех школьников предлагаем установить ежегодную выплату в размере
        21,8 тысячи рублей. Для малоимущих семей она должна быть больше, её
        нужно увеличить до 34,6 тысячи рублей», – прокомментировал политик.
      </p>
      <p>
        «По нашему мнению, выплачивать средства нужно не только школьникам.
        Пособие должны получать студенты колледжей, техникумов и вузов,
        обучающиеся на очной форме обучения и признанные малоимущими. Для них
        предлагаем установить выплату в размере 23,2 тысячи рублей. Перечислять
        средства предлагаем во втором полугодии соответствующего календарного
        года, когда дети идут на учёбу», – добавил парламентарий.
      </p>
      <p>
        «Хорошо известно, что затраты граждан на сбор детей в школу, техникумы и
        вузы составляют значительную часть семейного бюджета. Больше всего
        родители, конечно же, переживают за первоклассников. Для них нужно
        купить одежду, обувь, рюкзак, тетради, канцелярские принадлежности. Всё
        это стоит немалых денег, и на приобретение этих товаров средства есть
        далеко не в каждой российской семье. При этом надо отметить, что доходы
        граждан в последние несколько лет стремительно падают, а пандемия,
        санкции только усугубили эти проблемы. Людям нужна реальная поддержка со
        стороны государства, и самое время протянуть руку помощи», – считает
        Председатель партии.
      </p>
    </div>
  </div>
</section>
