<section class="descr">
  <div class="container">
    <div class="descr__wrapper">
      <h2 class="descr__title">
        Мы помогаем <span>детям</span>, <br />
        а не детским домам
      </h2>

      <div class="descr__text">
        <p>
          Благотворительный фонд помощи детям-сиротам «Здесь и сейчас» создан в
          2005 году людьми, которые неравнодушны к судьбе детей-сирот. Мы
          стараемся изменить позорную для нашей страны ситуацию, когда в
          подавляющем большинстве случаев при живых родителях для более 43 000
          детей домом стали казенные учреждения: детские дома, дома ребенка,
          школы-интернаты, приюты и социально-реабилитационные центры.
        </p>
      </div>
    </div>
  </div>
</section>
