<section class="descr-projects">
  <div class="container">
    <div class="descr-projects__wrapper">
      <div class="descr-projects__side side-nav">
        <div class="side-nav__inner">
          <div class="side-nav__top">
            <h2 class="side-nav__title">Все проекты</h2>
          </div>

          <ul class="side-nav__list">
            <li class="side-nav__item">
              <a class="side-nav__link" href="#">Детские мероприятия</a>
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link" href="#">Адресная помощь</a>
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link" href="#"
                >Профориентация для подростков</a
              >
            </li>
            <li class="side-nav__item">
              <a class="side-nav__link active" href="#">Наставничество</a>
            </li>
          </ul>
        </div>

        <div class="block-consultation">
          <div class="block-consultation__inner">
            <div class="block-consultation__person">
              <img
                class="block-consultation__avatar"
                src="images/person.jpg"
                alt="person"
              />
              <div class="block-consultation__person-info">
                <strong class="block-consultation__name">Елена</strong>
                <span class="block-consultation__count"> менеджер фонда </span>
              </div>
            </div>

            <div class="block-consultation__text">
              <span class="block-consultation__heading">
                Получить консультацию
              </span>

              <p>
                Оставьте Ваш телефон и мы свяжемся с Вами, и ответим на все Ваши
                вопросы.
              </p>
            </div>

            <form class="block-consultation__form form-consultation">
              <div class="form-consultation__group">
                <label class="form-consultation__label" for="phone"
                  >Телефон</label
                >
                <input
                  class="form-consultation__input"
                  type="tel"
                  id="phone"
                  placeholder="+7 (___) ___ - __ - __"
                />
              </div>

              <button
                class="form-consultation__btn btn btn--dark"
                type="button"
              >
                Заказать звонок
              </button>
            </form>
          </div>
        </div>
      </div>

      <div class="descr-projects__content">
        <div class="descr-projects__top">
          <h1 class="descr-projects__title">Наставничество</h1>
          <p class="descr-projects__text">
            Исследования показывают, что буквально в первые полгода после
            выпуска многие воспитанники детдомов попадают в неприятные истории:
            бросают учебу, становятся жертвами мошенников, влезают в крупные
            долги, оказываются без работы.
          </p>

          <img
            class="descr-projects__img"
            src="images/descr-projects.jpg"
            alt="projects"
          />
          <p>
            Вдобавок к бытовым трудностям на выпускника наваливается чувство
            огромного одиночества после привычной жизни в большом коллективе
            детдома. Зачастую подросток не справляется с переменами и
            оказывается в сложной жизненной ситуации. Многие так и не находят
            своего места в обществе.
          </p>
        </div>

        <div class="descr-projects__text">
          <h3 class="descr-projects__heading">
            Наставник. Отвечает на вопрос «Как»?
          </h3>
          <p>
            Как выбрать продукты в супермаркете? Как оплатить коммунальные
            счета? Как справиться с волнением и пройти собеседование? Как
            рассказать кому-то о том, что чувствуешь?
          </p>
          <p>
            На все эти вопросы знает ответ любой человек, если только он не
            выпускник детдома.
          </p>
          <p>
            У ребенка из детского дома нет простейших бытовых и социальных
            навыков, ведь большую часть своей жизни он провел в среде, где все
            решалось за него, как в пионерском лагере. Перед его глазами не было
            модели семьи, благодаря которой дети многое узнают, начиная с
            ответов на вопрос, что делать, если болят зубы или живот, и
            заканчивая более сложными темами: отношения с близкими, поиск
            работы, навыки самостоятельной жизни.
          </p>
          <p>
            Воспитатели, учителя, волонтеры – его ежедневное окружение. Они
            трудятся изо дня в день, выполняя свои задачи, но не могут уделить
            достаточно времени каждому. Значит, у ребенка нет значимого
            взрослого, которому он мог бы довериться и прийти с важным вопросом
            или проблемой.
          </p>
        </div>

        <div class="descr-projects__text">
          <h3 class="descr-projects__heading">
            Что даст наставничество ребенку?
          </h3>

          <p>
            Наставничество дает ребенку чувство нужности кому-то, развивает
            доверие к миру, дарит шанс почувствовать свои силы и найти мотивацию
            к росту.
          </p>
        </div>

        <div class="block-consultation block-consultation--mobile">
          <div class="block-consultation__inner">
            <div class="block-consultation__person">
              <img
                class="block-consultation__avatar"
                src="images/person.jpg"
                alt="person"
              />
              <div class="block-consultation__person-info">
                <strong class="block-consultation__name">Елена</strong>
                <span class="block-consultation__count"> менеджер фонда </span>
              </div>
            </div>

            <div class="block-consultation__text">
              <span class="block-consultation__heading">
                Получить консультацию
              </span>

              <p>
                Оставьте Ваш телефон и мы свяжемся с Вами, и ответим на все Ваши
                вопросы.
              </p>
            </div>

            <form class="block-consultation__form form-consultation">
              <div class="form-consultation__group">
                <label class="form-consultation__label" for="phone"
                  >Телефон</label
                >
                <input
                  class="form-consultation__input"
                  type="tel"
                  id="phone"
                  placeholder="+7 (___) ___ - __ - __"
                />
              </div>

              <button
                class="form-consultation__btn btn btn--dark"
                type="button"
              >
                Заказать звонок
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
