<section class="documents">
  <div class="container">
    <h2 class="documents__title">Документы фонда</h2>
    <ul class="documents__list">
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="images/document.jpg"
      >
        <img src="images/document.jpg" alt="document" />
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="images/document.jpg"
      >
        <img src="images/document.jpg" alt="document" />
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="images/document.jpg"
      >
        <img src="images/document.jpg" alt="document" />
      </li>
      <li
        class="documents-item"
        data-fancybox="documents"
        data-src="images/document.jpg"
      >
        <img src="images/document.jpg" alt="document" />
      </li>
    </ul>
  </div>
</section>
