<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <div class="footer__col">
        <a class="footer__logo logo" href="#">
          <img src="images/logo.png" alt="Логотип" />
        </a>
      </div>
      <div class="footer__lists">
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#"> О фонде</a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#"> Наши проекты</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Фотоотчеты </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Как помочь</a>
            </li>
          </ul>
        </div>
        <div class="footer__col">
          <ul class="footer__list">
            <li class="footer__item">
              <a class="footer__link" href="#">Если вам нужна помощь </a>
            </li>
            <li class="footer__item">
              <a class="footer__link" href="#">Контакты</a>
            </li>
          </ul>
        </div>
      </div>

      <div class="footer__col">
        <a class="footer__phone" href="tel:+78001234567">
          <span class="footer__phone-numbers">8 800 123 45 67</span>
          <span class="footer__phone-text">для помощи и волонтеров</span>
        </a>
      </div>
    </div>

    <div class="footer__bottom">
      <div class="footer__copy">
        © Благотворительный фонд "Название" 2022.
        <a href="#">
          Политика в отношении обработки и защиты персональных данных.
        </a>
      </div>
      <a class="company" href="https://razrabotka-saita.ru/" target="_blank">
        <span>Разработка сайта</span>

        <img src="images/logo-company.png" alt="АдвансМедиа" />
      </a>
    </div>
  </div>
</footer>
