<section class="founders">
  <div class="founders__wrapper">
    <div class="container">
      <div class="founders__inner">
        <div class="founders__left">
          <h2 class="founders__title">
            <span>ОСНОВАТЕЛИ</span> <br />
            ФОНДА
          </h2>
          <div class="founders__text">
            <p>
              Благотворительный фонд основан в 2013 году для решения острых
              социальных проблем в сфере защиты интересов детей-сирот и детей,
              оставшихся без попечения родителей.
            </p>
          </div>
        </div>

        <ul class="founders__list">
          <li class="founders__item">
            <article class="founders-card">
              <div class="founders-card__top">
                <img src="images/founders/1.jpg" alt="founders" />
              </div>
              <div class="founders-card__body">
                <h3 class="founders-card__title">Иван Иванов</h3>
                <span class="founders-card__prof">Основатель фонда</span>
              </div>
            </article>
          </li>
          <li class="founders__item">
            <article class="founders-card">
              <div class="founders-card__top">
                <img src="images/founders/2.jpg" alt="founders" />
              </div>
              <div class="founders-card__body">
                <h3 class="founders-card__title">Иван Иванов</h3>
                <span class="founders-card__prof">Основатель фонда</span>
              </div>
            </article>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
