<section class="help">
  <div class="container">
    <div class="help__top">
      <h1 class="help__title">Если Вам нужна помощь</h1>
      <p class="help__text">
        Если вы нуждаетесь в помощи, заполните и отправьте нам анкету, и мы
        постараемся помочь Вам в Вашей проблеме.
      </p>
    </div>
    <ul class="help__list">
      <li class="help-item help-item--family-unit">
        <span class="help-item__name">Помогаем семейному устройству</span>
        <p class="help-item__text">
          Помогаем детям-сиротам обрести свою новую семью, а так же поддерживает
          приемные семьи в периоды адаптации и кризисов.
        </p>
      </li>
      <li class="help-item help-item--support">
        <span class="help-item__name">Помогаем семейному устройству</span>
        <p class="help-item__text">
          Клуб – это поддерживающее сообщество приемных семей, организованное
          опытными приемными родителями.
        </p>
      </li>
      <li class="help-item help-item--learn">
        <span class="help-item__name">Учим детей-сирот</span>
        <p class="help-item__text">
          Комплексная подготовка сирот-подростков к самостоятельной жизни после
          выпуска из детского дома.
        </p>
      </li>
    </ul>
  </div>
</section>
