<section class="hero">
  <div class="container">
    <div class="hero__count count-badge">
      <div class="count-badge__circle count-badge__circle--left"></div>
      <div class="count-badge__circle count-badge__circle--top"></div>
      <div class="count-badge__circle count-badge__circle--right"></div>

      <div class="count-badge__inner">
        <span class="count-badge__text">Более</span>
        <span class="count-badge__number">2000</span>
        <span class="count-badge__text fw-600">детей уже получили <br> помощь</span>
      </div>
    </div>
    <div class="hero__wrapper">
      <div class="hero__offer">
        <h1 class="hero__title">
          Фонд помощи <br />
          детям-сиротам
        </h1>

        <p class="hero__text">
          Помогаем детям-сиротам так, как должны были бы помогать родители.
        </p>
      </div>

      <form class="hero__donation donation-block">
        <div class="donation-block__top">
          <button class="donation-block__btn active" type="button">
            Ежемесячно
          </button>
          <button class="donation-block__btn" type="button">Разово</button>
        </div>

        <div class="donation-block__content active">
          <p class="donation-block__text">Сумма пожертвования</p>

          <div class="donation-block__sum">
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">100 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">300 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">500 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">1000 ₽</span>
            </label>
            <label class="donation-block__label">
              <input
                class="donation-block__input"
                type="text"
                placeholder="Своя сумма"
              />
            </label>
          </div>

          <button class="donation-block__further btn" type="submit">
            Далее
          </button>
        </div>
        <div class="donation-block__content">
          <p class="donation-block__text">Сумма пожертвования</p>

          <div class="donation-block__sum">
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">100 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">300 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">500 ₽</span>
            </label>
            <label class="sum-checkbox">
              <input class="sum-checkbox__input" type="radio" name="sum" />
              <span class="sum-checkbox__box">1000 ₽</span>
            </label>
            <label class="donation-block__label">
              <input
                class="donation-block__input"
                type="text"
                placeholder="Своя сумма"
              />
            </label>
          </div>

          <button class="donation-block__further btn" type="submit">
            Далее
          </button>
        </div>
      </form>
    </div>
  </div>
</section>
