<section class="how-help">
  <div class="container">
    <div class="how-help__top">
      <h1 class="how-help__title">Как помочь</h1>
      <div class="how-help__text">
        <p>
          Мы стараемся помогать детям и нашим старикам, как помогали бы им
          заботливые семьи.
        </p>
        <p>
          Помогите нашему фонду быть полноводнее. Каждая капелька – уже помощь.
        </p>
      </div>
    </div>

    <ul class="how-help__list">
      <li class="how-help__item">
        <div class="how-help-card how-help-card--credit-card">
          <span class="how-help-card__name">Пожертвование с помощью карты</span>
          <p class="how-help-card__text">
            Перевод с банковской карты разового пожертвования или оформить
            регулярные пожертвования.
          </p>
        </div>
      </li>
      <li class="how-help__item">
        <div class="how-help-card how-help-card--sms">
          <span class="how-help-card__name">Пожертвование с помощью СМС</span>
          <p class="how-help-card__text">
            Отправьте сообщение со словом: река `{`пробел`}` cумма (например:
            река 300) На короткий номер 3443
          </p>
        </div>
      </li>
      <li class="how-help__item how-help__item--donation">
        <form class="how-help__donation donation-block">
          <div class="donation-block__top">
            <button class="donation-block__btn active" type="button">
              Ежемесячно
            </button>
            <button class="donation-block__btn" type="button">Разово</button>
          </div>

          <div class="donation-block__content active">
            <p class="donation-block__text">Сумма пожертвования</p>

            <div class="donation-block__sum">
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">100 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">300 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">500 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">1000 ₽</span>
              </label>
              <label class="donation-block__label">
                <input
                  class="donation-block__input"
                  type="text"
                  placeholder="Своя сумма"
                />
              </label>
            </div>

            <button class="donation-block__further btn" type="submit">
              Далее
            </button>
          </div>
          <div class="donation-block__content">
            <p class="donation-block__text">Сумма пожертвования</p>

            <div class="donation-block__sum">
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">100 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">300 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">500 ₽</span>
              </label>
              <label class="sum-checkbox">
                <input class="sum-checkbox__input" type="radio" name="sum" />
                <span class="sum-checkbox__box">1000 ₽</span>
              </label>
              <label class="donation-block__label">
                <input
                  class="donation-block__input"
                  type="text"
                  placeholder="Своя сумма"
                />
              </label>
            </div>

            <button class="donation-block__further btn" type="submit">
              Далее
            </button>
          </div>
        </form>
      </li>
    </ul>
  </div>
</section>
