<section class="mission">
  <div class="container">
    <div class="mission__wrapper">
      <div class="mission__left">
        <h2 class="mission__title"><span>Задача</span> фонда</h2>
        <div class="mission__text">
          <p>
            помочь детям-сиротам почувствовать себя нужными, важными,
            полноценными членами общества. Выпускнику детского дома необходимо
            ощущать любовь и заботу со стороны взрослых, видеть перед собой
            пример, принимать помощь и поддержку в трудных ситуациях.
          </p>

          <p>
            Особенность программ фонда — воспитание в детях-сиротах чувства
            сострадания к нуждающимся людям (старикам в домах престарелых),
            развитие добровольческих навыков, привитие идеи волонтёрства и
            взаимопомощи.
          </p>
        </div>
      </div>
      <div class="mission__right">
        <p>Мы стараемся содействовать тому, чтобы
          каждый ребенок в нашей стране смог
          реализовать свое право на жизнь
          и воспитание в семье.</p>
      </div>
    </div>
  </div>
</section>
