<section class="news-slider">
  <div class="container">
    <div class="news-slider__top">
      <h2 class="news-slider__title">Новости</h2>

      <a class="news-slider__link" href="#"> Все новости </a>
    </div>

    <div class="news-slider__slider swiper">
      <ul class="news-slider__slides swiper-wrapper">
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/1.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#"
                  >Дайте вещам вторую социально полезную жизнь</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/2.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#">
                  Помощь эвакуированным детям в образовании
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/3.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#">
                  Благодарим за участие в акции "Подари добрые перемены"
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/1.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#"
                  >Дайте вещам вторую социально полезную жизнь</a
                >
              </h3>
            </div>
          </article>
        </li>
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/2.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#">
                  Помощь эвакуированным детям в образовании
                </a>
              </h3>
            </div>
          </article>
        </li>
        <li class="news-slider__slide swiper-slide">
          <article class="news-article">
            <a class="news-article__top" href="#">
              <img src="images/news-slider/3.jpg" alt="news" />
            </a>

            <div class="news-article__body">
              <span class="news-article__date"> 29.04.2022 </span>
              <h3 class="news-article__title">
                <a class="card-link" href="#">
                  Благодарим за участие в акции "Подари добрые перемены"
                </a>
              </h3>
            </div>
          </article>
        </li>
      </ul>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
