<section class="news">
  <div class="container">
    <h1 class="news__title">Новости</h1>

    <ul class="news__list">
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/1.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Госдума рассмотрит законопроект о выплате пособия к 1 сентября
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/2.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Наш фонд организовал для детей ДНР отдых в Крыму
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/3.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                НКО могут бесплатно получить программное обеспечение
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/4.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Наш фонд пригласил воспитанников Никольского ресурсного центра
                принять участие в нашем проекте
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/1.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Госдума рассмотрит законопроект о выплате пособия к 1 сентября
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/2.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Наш фонд организовал для детей ДНР отдых в Крыму
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/3.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                НКО могут бесплатно получить программное обеспечение
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
      <li class="news__item">
        <article class="news-card">
          <a class="news-card__left" href="#">
            <img src="images/news/4.jpg" alt="news" />
          </a>
          <div class="news-card__right">
            <span class="news-card__date">31.08.2022</span>
            <h3 class="news-card__title">
              <a class="card-link" href="#">
                Наш фонд пригласил воспитанников Никольского ресурсного центра
                принять участие в нашем проекте
              </a>
            </h3>

            <div class="news-card__text">
              <p>
                Lorem Ipsum is simply dummy text of the printing and typesetting
                industry. Lorem Ipsum has been the industry's standard dummy
                text ever since the 1500s, when an unknown printer took a galley
                of type and scrambled it to make a type.
              </p>
            </div>
          </div>
        </article>
      </li>
    </ul>

    <div class="news__pagination pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn active" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
      </ul>
    </div>
  </div>
</section>
