<section class="our-projects">
  <div
    class="decor decor--one"
    style="background-image: url('images/projects-decor-1.png')"
  ></div>
  <div
    class="decor decor--two"
    style="background-image: url('images/projects-decor-2.png')"
  ></div>

  <div class="container">
    <div class="our-projects__top">
      <h2 class="our-projects__title">Наши проекты</h2>
      <p class="our-projects__text">
        Все деньги, собранные в благотворительных целях используются по
        назначею. Предлагаем Вам обзнакомиться с нашими проектами.
      </p>
    </div>
    <div class="tabs-projects">
      <ul class="tabs-projects__nav">
        <li class="tabs-projects__nav-item">
          <button class="tabs-projects__nav-btn" type="button">
            Детские мероприятия
          </button>
        </li>
        <li class="tabs-projects__nav-item">
          <button class="tabs-projects__nav-btn active" type="button">
            Адресная помощь
          </button>
        </li>
        <li class="tabs-projects__nav-item">
          <button class="tabs-projects__nav-btn" type="button">
            Профориентация
          </button>
        </li>
        <li class="tabs-projects__nav-item">
          <button class="tabs-projects__nav-btn" type="button">
            Наставничество
          </button>
        </li>
      </ul>
      <div class="tabs-projects__content">
        <div class="tabs-projects__panel active">
          <article class="projects-box">
            <div class="projects-box__left">
              <h3 class="projects-box__title">Детские мероприятия</h3>

              <div
                class="projects-box__slider projects-box__slider--mobile swiper"
              >
                <ul class="projects-box__slides swiper-wrapper">
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                </ul>
              </div>

              <div class="projects-box__text">
                <p>
                  Исследования показывают, что буквально в первые полгода после
                  выпуска многие воспитанники детдомов попадают в неприятные
                  истории: бросают учебу, становятся жертвами мошенников,
                  влезают в крупные долги, оказываются без работы.
                </p>
                <p>
                  Вдобавок к бытовым трудностям на выпускника наваливается
                  чувство огромного одиночества после привычной жизни в большом
                  коллективе детдома. Зачастую подросток не справляется с
                  переменами и оказывается в сложной жизненной ситуации.
                </p>
              </div>

              <a class="projects-box__btn btn" href="#">Подробнее</a>
            </div>
            <div class="projects-box__slider swiper">
              <ul class="projects-box__slides swiper-wrapper">
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
              </ul>

              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div>
          </article>
        </div>
        <div class="tabs-projects__panel">
          <article class="projects-box">
            <div class="projects-box__left">
              <h3 class="projects-box__title">Адресная помощь</h3>

              <div
                class="projects-box__slider projects-box__slider--mobile swiper"
              >
                <ul class="projects-box__slides swiper-wrapper">
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                </ul>
                <button
                  class="swiper-button-next"
                  type="button"
                  aria-label="Следующий"
                ></button>
                <button
                  class="swiper-button-prev"
                  type="button"
                  aria-label="Предыдущий"
                ></button>
              </div>

              <div class="projects-box__text">
                <p>
                  Исследования показывают, что буквально в первые полгода после
                  выпуска многие воспитанники детдомов попадают в неприятные
                  истории: бросают учебу, становятся жертвами мошенников,
                  влезают в крупные долги, оказываются без работы.
                </p>
                <p>
                  Вдобавок к бытовым трудностям на выпускника наваливается
                  чувство огромного одиночества после привычной жизни в большом
                  коллективе детдома. Зачастую подросток не справляется с
                  переменами и оказывается в сложной жизненной ситуации.
                </p>
              </div>

              <a class="projects-box__btn btn" href="#">Подробнее</a>
            </div>
            <div class="projects-box__slider swiper">
              <ul class="projects-box__slides swiper-wrapper">
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
              </ul>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div>
          </article>
        </div>
        <div class="tabs-projects__panel">
          <article class="projects-box">
            <div class="projects-box__left">
              <h3 class="projects-box__title">Профориентация</h3>

              <div
                class="projects-box__slider projects-box__slider--mobile swiper"
              >
                <ul class="projects-box__slides swiper-wrapper">
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                </ul>
                <button
                  class="swiper-button-next"
                  type="button"
                  aria-label="Следующий"
                ></button>
                <button
                  class="swiper-button-prev"
                  type="button"
                  aria-label="Предыдущий"
                ></button>
              </div>

              <div class="projects-box__text">
                <p>
                  Исследования показывают, что буквально в первые полгода после
                  выпуска многие воспитанники детдомов попадают в неприятные
                  истории: бросают учебу, становятся жертвами мошенников,
                  влезают в крупные долги, оказываются без работы.
                </p>
                <p>
                  Вдобавок к бытовым трудностям на выпускника наваливается
                  чувство огромного одиночества после привычной жизни в большом
                  коллективе детдома. Зачастую подросток не справляется с
                  переменами и оказывается в сложной жизненной ситуации.
                </p>
              </div>

              <a class="projects-box__btn btn" href="#">Подробнее</a>
            </div>
            <div class="projects-box__slider swiper">
              <ul class="projects-box__slides swiper-wrapper">
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
              </ul>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div>
          </article>
        </div>
        <div class="tabs-projects__panel">
          <article class="projects-box">
            <div class="projects-box__left">
              <h3 class="projects-box__title">Наставничество</h3>

              <div
                class="projects-box__slider projects-box__slider--mobile swiper"
              >
                <ul class="projects-box__slides swiper-wrapper">
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                  <li class="projects-box__slide swiper-slide">
                    <img src="images/mentor.jpg" alt="mentor" />
                  </li>
                </ul>
                <button
                  class="swiper-button-next"
                  type="button"
                  aria-label="Следующий"
                ></button>
                <button
                  class="swiper-button-prev"
                  type="button"
                  aria-label="Предыдущий"
                ></button>
              </div>

              <div class="projects-box__text">
                <p>
                  Исследования показывают, что буквально в первые полгода после
                  выпуска многие воспитанники детдомов попадают в неприятные
                  истории: бросают учебу, становятся жертвами мошенников,
                  влезают в крупные долги, оказываются без работы.
                </p>
                <p>
                  Вдобавок к бытовым трудностям на выпускника наваливается
                  чувство огромного одиночества после привычной жизни в большом
                  коллективе детдома. Зачастую подросток не справляется с
                  переменами и оказывается в сложной жизненной ситуации.
                </p>
              </div>

              <a class="projects-box__btn btn" href="#">Подробнее</a>
            </div>
            <div class="projects-box__slider swiper">
              <ul class="projects-box__slides swiper-wrapper">
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
                <li class="projects-box__slide swiper-slide">
                  <img src="images/mentor.jpg" alt="mentor" />
                </li>
              </ul>
              <button
                class="swiper-button-next"
                type="button"
                aria-label="Следующий"
              ></button>
              <button
                class="swiper-button-prev"
                type="button"
                aria-label="Предыдущий"
              ></button>
            </div>
          </article>
        </div>
      </div>
    </div>
  </div>
</section>
