<section class="photos">
  <div class="container">
    <h1 class="photos__title">Фотоотчеты с мероприятий</h1>

    <ul class="photos__list">
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/1.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/2.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/3.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/4.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/5.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/6.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/7.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/8.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/9.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="#">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/10.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="#">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/11.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
      <li class="photos__item">
        <article class="photos-card">
          <div class="photos-card__top">
            <img src="images/photos/12.jpg" alt="photos" />

            <a class="photos-card__btn btn btn--transparent" href="">
              Перейти в галерею
            </a>
          </div>
          <div class="photos-card__body">
            <h3 class="photos-card__title">
              <a class="card-link" href="#"> Название мероприятия </a>|
            </h3>
            <span class="photos-card__date">от 01.01.22</span>
          </div>
        </article>
      </li>
    </ul>

    <div class="photos__pagination pagination">
      <ul class="pagination__list">
        <li class="pagination__item">
          <button class="pagination__btn active" type="button">1</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">2</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">3</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">4</button>
        </li>
        <li class="pagination__item">
          <button class="pagination__btn" type="button">5</button>
        </li>
      </ul>
    </div>
  </div>
</section>
