<section class="projects">
  <div class="container">
    <h1 class="projects__title">Наши проекты</h1>

    <ul class="projects__list">
      <li class="project__item">
        <article
          class="projects-card"
          style="background-image: url('images/projects/1.jpg')"
        >
          <h3 class="projects-card__title">
            Детские <br />
            мероприятия
          </h3>

          <a class="projects-card__btn btn btn--transparent" href="#">
            Подробнее
          </a>
        </article>
      </li>
      <li class="project__item">
        <article
          class="projects-card"
          style="background-image: url('images/projects/2.jpg')"
        >
          <h3 class="projects-card__title">
            Адресная <br />
            помощь
          </h3>

          <a class="projects-card__btn btn btn--transparent" href="#">
            Подробнее
          </a>
        </article>
      </li>
      <li class="project__item">
        <article
          class="projects-card"
          style="background-image: url('images/projects/3.jpg')"
        >
          <h3 class="projects-card__title">
            Профориентация <br />
            для подростков
          </h3>

          <a class="projects-card__btn btn btn--transparent" href="#">
            Подробнее
          </a>
        </article>
      </li>
      <li class="project__item">
        <article
          class="projects-card"
          style="background-image: url('images/projects/4.jpg')"
        >
          <h3 class="projects-card__title">
            Наставничество
          </h3>

          <a class="projects-card__btn btn btn--transparent" href="#">
            Подробнее
          </a>
        </article>
      </li>
    </ul>
  </div>
</section>
