<section class="problems">
  <div class="container">
    <div class="problems__top">
      <h2 class="problems__title">Решаем острые социальные проблемы</h2>
      <p class="problems__text">
        в сфере защиты интересов детей-сирот и не только
      </p>
    </div>

    <ul class="problems__list">
      <li class="problems-item problems-item--prof">
        <p>
          <b>Содействие в осознанном выборе профессии</b>, проведение
          мастер-классов по профориентации, тестирование, психологическое
          консультирование и тренинги (постановка целей, мотивация, финансовая
          грамотность и др.);
        </p>
      </li>
      <li class="problems-item problems-item--housing">
        <p>
          <b>
            Содействие выпускникам сиротских учреждений в обустройстве,
            собственного жилья.
          </b>
          Улучшение качества жизни людей, относящихся к незащищенной группе
          населения (многодетные семьи, инвалиды, старики, матери-одиночки).
        </p>
      </li>
      <li class="problems-item problems-item--education">
        <p>
          <b>Помощь в получении образования</b> оплата репетиторов, а также
          дополнительного профессионального образования и необходимых для этого
          инструментов.
        </p>
      </li>
      <li class="problems-item problems-item--family">
        <p>
          <b>Сохранение семейных отношений между матерями,</b>
          отбывающими срок в исправительных колониях, и их детьми, которые
          находятся на попечении детских домов.
        </p>
      </li>
    </ul>
  </div>
</section>
