<section class="report">
  <div class="container">
    <h2 class="report__title">Отчетность по пожертвованиям</h2>

    <div class="report__top">
      <form class="report__filters form-filters">
        <div class="form-filters__inner">
          <select class="select" aria-label="Тип отчета">
            <option value="">Тип отчета</option>
            <option value="1">Тип 1</option>
            <option value="2">Тип 2</option>
          </select>

          <select class="select" aria-label="Тип отчета">
            <option value="">Выбрать год</option>
            <option value="1">2022</option>
            <option value="2">2023</option>
            <option value="3">2024</option>
          </select>
          <select class="select" aria-label="Тип отчета">
            <option value="">Выбрать месяц</option>
            <option value="1">январь</option>
            <option value="2">февраль</option>
            <option value="3">март</option>
            <option value="3">апрель</option>
            <option value="3">май</option>
            <option value="3">июнь</option>
            <option value="3">июль</option>
            <option value="3">август</option>
            <option value="3">сентябрь</option>
            <option value="3">октябрь</option>
            <option value="3">ноябрь</option>
            <option value="3">декабрь</option>
          </select>

          <button class="form-filters__btn btn" type="submit">
            Применить фильтр
          </button>
        </div>
      </form>

      <ul class="report__list">
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за январь</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за февраль</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за март</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="img/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за апрель</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за май</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за июнь</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за июль</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
        <li class="report__item">
          <a class="report-btn" href="images/img-pdf-file.png" download>
            <span class="report-btn__name">Отчет за август</span>
            <span class="report-btn__year">2022</span>
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
